{% extends 'base.html.twig' %}

{% block title %}Comparateur{% endblock %}

{% block body %}
    <!-- BANNER COMPARISON -->
    {% include('comparator/banner-comparison.html.twig') %}
    <!-- BANNER COMPARISON  -->
    <div class="container-fluid">
        <!--
            <div class="mt-5">
                <div class="pagination justify-content-center">
                    {{ knp_pagination_sortable(properties,'price','p.price') }}
                </div>
            </div>
        -->
        <div id="containerPage" class="wrapper-comparator-page row">
            <!-- MENU_LEFT -->
            <div class="col-xl-2 col-md-3 col-sm-4 bg-white border-right pt-3">
                {{ form_start(form) }}
                <div class="form-group">
                    <button class="btn btn-dark btn-block">Appliquer</button>
                    {{ form_widget(form) }}
                </div>
                {{ form_end(form) }}
            </div>
            <!-- MENU_LEFT END-->

            <!-- WARPPER ARTICLE -->
            <div class="col-xl-10 col-md-9 col-sm-8  mb-5 pt-2">

                <h5 class="text-center titelMenuOption my-5 d-none d-lg-block">The world largest bike comparison website</h5>

                <!-- -->
                <div id="cbp-vm" class="cbp-vm-switcher cbp-vm-view-grid">
                    <!-- NAVBAR OPTION -->
                    {{ include('comparator/navbarOptionView.html.twig') }}
                    <!-- NAVBAR OPTION END -->

                    <!-- BLOCK ARTICLE -->
                    {% include('comparator/_property.html.twig') %}
                    <!-- BLOCK ARTICLE  -->
                </div>
                <!-- -->

                <!-- PAGINATOR -->
                <div class="pagination mt-5">
                    {{ knp_pagination_render(properties) }}
                </div>
                <!-- PAGINATOR -->
            </div>
            <!-- WARPPER ARTICLE END -->
        </div>

    </div>

{% endblock %}